---
import { isExternalLink } from "../utils/openExternalLinks";

export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
}

const {
  href,
  className = "",
  ariaLabel,
  title,
  disabled = false,
} = Astro.props;

const currDomain = new URL(Astro.url.origin).hostname;
const isExternal = href? isExternalLink(href, currDomain) : false;
---

{
  disabled ? (
    <span
      class:list={["group inline-block", className]}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      class:list={["group inline-block hover:text-skin-accent", className]}
      aria-label={isExternal ? `${ariaLabel || 'Link'} (opens in new tab)` : ariaLabel}
      title={title}
      target={isExternal ? "_blank" : undefined}
      rel={isExternal ? "noopener noreferrer" : undefined}
    >
      <slot />
    </a>
  )
}
